



#banner{
    width:100%;
    padding-top:30%;
    min-height: 600px;
    position: relative;
    background:no-repeat center/cover fixed url(../images/banner.jpg) ;
    
    @media screen and (min-width:1279px) {
        min-height:none;
        padding-top:50%;

    }
    
    @media screen and (max-width:1025px) {
        background: #000;
    }
    .inner{
        position: absolute;
        display: flex;
        align-items: center;
        top:0;
        width:48%;
        padding-left:20%;
        height:100%;
        background-color: #000;
        color:white;
        transition:width .3s ease-in-out;
        @media screen and(max-width:1279px) {
            width:100%;
            padding-left:19%;
        }
        .wrap{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
        padding:0px;
        margin:0px;
        p{
            display: inline-block;
            font-size:14px;
            font-weight:100;
            padding-left:2px;
            letter-spacing: 5px;
            padding-bottom: 70px;
        }
        .title{
            span{
                font-size:40px;
                font-weight:100;
                letter-spacing: 5px;
            }
            h1{
                margin-top:-10px;
                padding-left:2px;
                letter-spacing: 3px;
                font-size:40px;
                font-weight: bolder;
                font-family: 'Black Han Sans', sans-serif;
                span{
                color:#d6336c;
                }
            }
            padding-bottom:80px;
        }
        }
        .nums{
            ul{
                display: flex;
                cursor:pointer;
                font-weight:100;
                font-size:14px;
                height:25px;
                li{
                    padding-right:20px;
                    margin-right:5px;
                    &:hover{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    .arrows{
        display: flex;
        position: absolute;
        right:16%;
        bottom:0;
        background-color: #fff;
        width:100px;
        height:50px;
        padding:0 10px;
        font-weight: 100;
        font-size: 22px;
        justify-content: space-around;
        align-items: center;
        button{
            border: none;
            background-color: transparent;
            width:40px;
            height:50px;
            font-size: 18px;
            cursor: pointer;
        }
        .arrowLeft{
            &:hover{
                transform: translateX(-2px);
            }
        }
        .arrowRight{
            &:hover{
                transform: translateX(2px);
            }
        }
    }
}

#intro01{
    width:100%;
    position: relative;
    padding:100px 0px;
    .background{
        width:80%;
        height:100%;
        background-color: #f1f3f5;
        position: absolute;
        bottom:0;
        z-index: -10;
        
        @media screen and(max-width:1025px) {
            width:100%;
        }
    }
    .word{
        width:48%;
        padding-left:20%;
        z-index:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all ease-in-out .3;
        @media screen and(max-width:1025px) {
            padding-left: 0px;
            width:100%;
        }
        .wrap{
            position: relative;
            margin:0px auto;
            display: flex;
            flex-direction: column;
            max-height:200px;
            padding-left:50px;
            @media screen and(max-width:1025px) {
                padding-left:0px;
                width:100%;
                align-items: center;
                text-align: center;
                transition: all ease-in-out .3s;
            }
            .number{
            position: absolute;
            font:900 45px 'Work Sans', sans-serif;
            color:#ddd;
            left:0px;
            top:-25px;
            padding-right:5px;
            overflow: hidden;
            z-index:1;
            @media screen and(max-width:1025px) {
                left:43%;
                top:-50px;
            }
            .numberCover{
                position: absolute;
                right:-25px;
                transform: rotateZ(45deg);
                top:20px;
                color:transparent;
                z-index:3;
                width:40px;
                height:40px;
                border-left:2px solid #ddd;
                background-color: #f1f3f5;
                z-index:2;    
            }
                
            }
            span{
                font-size: 35px;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom:-10px;
                z-index:3;
            }
            h2{
                font:bolder 35px 'Black Han Sans', sans-serif;
                padding-left:2px;
                margin-bottom:20px;
            }
            .p1{
                width:100%;
                margin-bottom:20px;   
            @media screen and(max-width:1025px) {
                padding:0px 30px;
            }
            }
            .p2{
                width:100%;
                font-weight: 100;
                min-height:70px;
                   
            @media screen and(max-width:1025px) {
                width:80%;
                padding:0px 30px;
            }
            }
        }
    }

    .wrapArticles{
        width:80%;
        height:50px;
        position: absolute;
        top: 0;
        @media screen and(max-width:1025px) {
            width:100%;
        }

        .wrapArticle{
            position: absolute;
            right:0px;
            width:400px;
            top:0px;
            margin-top:60px;
            @media screen and(max-width:1279px) {
                width:220px;
                right:0;
                height:400px;
                overflow: hidden;
                transition: all .3s ease-in-out;
            }
            @media screen and(max-width:1025px){
                opacity: 0.2;
            }
        }
        article{
            margin-left:20px;
            margin-bottom:20px;
            width:180px;
            height:180px;
            overflow: hidden;
            float:left;
            box-shadow: 5px 15px 15px #ddd;
            
            img{
                width:300px;
                transition: all .5s ease-in-out;
                @media screen and(max-width:1025px) {
                    width:230px;
                }
                &:hover{
                    width:330px;
                }
            }
            &:nth-child(3){
                float:right;
            }
            
            @media screen and(max-width:1025px) {
                width:140px;
                height:140px;
                float:right;
            &:nth-child(3){
            display:none;}   
            }
        }
        
        .productLink{
            position: absolute;
            right:-80px;
            top:120px;
            width:150px;
            height:150px;
            border-bottom: 1px solid #d6336c;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: right;
            padding:10px;
            transition: all ease-in-out .3;
            p{
                color:#d6336c;
                font-size:9px;
            }
            b{
                display: inline-block;
                transform: rotateZ(270deg);
                font-size:13px;
                position:absolute;
                right:-9px;
                bottom:45px;
            }
            
            @media screen and(max-width:1279px) {
                right:23px;
                top:240px;
                width:100px;
                height:100px;
                transition: all .3s ease-in-out;
            }

            @media screen and(max-width:1025px) {
                right:20px;
                top:180px;
                width:100px;
                height:100px;
            }
            
        }
    }

}


#intro02{
    width:100%;
    display: flex;
    justify-content: center;
    padding:110px 0px;
    margin-top:20px;
    transition: all .3 ease-in-out;
    @media screen and(max-width:1025px) {
        padding:60px 0px;
    }
    .inner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align:center;
        width:80%;
        .innerNumber{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:50px;
            .innerNumberBg{
                position: absolute;
                color:#d0ebff;
                font-size: 35px;
                z-index: -1;
            }
            div{
                position: absolute;
                font-size: 9px;
                width:20px;
                height:20px;
                line-height:20px;
                color:#d6336c;
                font-weight: 900;
                background-color: #fff;
                z-index: 1;
            }
        }

        h3{
            letter-spacing: 8px;
            font-weight: 100;
            margin-bottom: 35px;
        }

        ul{    
            display: flex;
            justify-content: space-around;
            margin:0px 80px;
            padding-left:7%;
            @media screen and(max-width:1025px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left:10%;
                margin:0px auto;
            }
            li{
            position: relative;
            text-align:left;
            padding:30px;
            cursor:pointer;
            @media screen and(max-width:1025px) {
                padding:15px;
            }
            .icons{
                position: absolute;
                font-size:35px;
                left:-25px;
                top: 20px;
                color:#ddd;
                
            @media screen and(max-width:1025px) {
                left:-30px;
                top:15px;
            }
            }
            h4{
                margin-bottom:8px;
                text-transform:uppercase;
                width: fit-content;
                position: relative;
                line-height: 1.3;
                overflow:hidden;
                @media screen and(max-width:1025px) {
                    font-size:14px;
                }
                &::after{
                    content:'';
                    position: absolute;
                    top:-1px;
                    left:-180px;
                    opacity: 0;
                    width:1px;
                    height:18px;
                }
            }


            p{
                font-size:13px;
                font-weight: 100;
                width:230px;
                margin-bottom:10px;
                overflow-wrap: break-word;
            @media screen and(max-width:1025px) {
                width:auto;
            }
            }
            b{
                font-size:14px;
            }

            &:hover{
                transition: all .3 ease-in-out;
                .icons, b{
                    color:#d6336c;
                }

                h4::after{
                        position: absolute;
                        opacity: 1;
                        left:0;
                        width:100%;
                        height:18px;
                        border-bottom:#d6336c 1px solid;
                        transition: all .2s ease-in-out;
                }
            }
            }
        }
    }   
}

#intro03{
    position: relative;
    display: flex;
    width:100%;
    justify-content: flex-end;
    margin-bottom:150px;
    @media screen and(max-width:1025px) {
        overflow: hidden;
    }
    .differentLink{
        position: absolute;
        left:6%;
        top:40px;
        width:130px ;
        height:130px;
        border-bottom: 1px solid #d6336c;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding:10px;
        z-index:2;
        @media screen and(max-width:1025px) {
            display: none;
        }
        span{
            padding-right:50px;
        p{
            display: block;
            color:#d6336c;
            font-size:9px;
            margin-right:-10px;
        }
        b{
            display: inline-block;
            transform: rotateZ(270deg);
            font-size:13px;
            position:absolute;
            right:30px;
            bottom:45px;
            margin-bottom: 5px;
        }
        }
        
    }
    .introImg{
        position: absolute;
        top:110px;
        left:13%;
        z-index: 1;
        transition: all .4s ease-in-out;
        @media screen and (max-width:1279px){
            left:8%;
        }
        @media screen and(max-width:1025px) {
        opacity: 0.1;
        left:0%;
        top:35%;
        }   
        .redBar{
        position: absolute;
        width:100px;
        height:50px;
        z-index: 0;
        top: -33px;
        left:33%;
        background-color:#d6336c;
        transition: all .3s ease-in-out;
        @media screen and (max-width:1025px){
            left:0px;
            top:-155px;
            height:400px;
        }
        }
        .introImgBox{
        width:450px;
        height:280px;
        filter: brightness(180%) saturate(70%);
        overflow: hidden;
        cursor: pointer;
        transition: all .3s ease-in-out;
        @media screen and (max-width:1025px) {
            width:420px;
        }
        &:hover{
            img{
                width:570px;
                transition: all .5s ease-in-out;
                @media screen and (max-width:1025px) {
                    width: 510px;
                }
            }
        }
        img{
            width:550px;
            @media screen and (max-width:1025px) {
                width:500px;
            }
        }
        }
    
    }

    .word{
        right:0;
        background-color: #f1f3f5;
        width:60%;
        z-index:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:70px 0px;       
        transition: all .3s ease-in-out;
        @media screen and(max-width:1025px) {
            width:100%;
            text-align: center;
        }
        .wrap{
            position: relative;
            margin:0px auto;
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .number{
            position: absolute;
            font:900 45px 'Work Sans', sans-serif;
            color:#ddd;
            left:-50px;
            top:-30px;
            padding-right:5px;
            overflow: hidden;
            z-index:1;
            @media screen and(max-width:1025px) {
                left:39%;
                top:-50px;
            }
            .numberCover{
                position: absolute;
                right:-20px;
                transform: rotateZ(45deg);
                top:30px;
                color:transparent;
                z-index:3;
                width:40px;
                height:40px;
                border-left:2px solid #ddd;
                background-color: #f1f3f5;
                z-index:2;    
            }
                
            }
            span{
                font-size: 35px;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom:-10px;
                z-index:3;
            }
            h2{
                font:bolder 35px 'Black Han Sans', sans-serif;
                padding-left:2px;
                margin-bottom:10px;
            }
            .p1{
                width:70%;
                margin-bottom:15px;
            @media screen and(max-width:1025px) {
                width:100%;
            }
            }
            .p2{
                width:70%;
                font-weight: 100;
                min-height:100px;
                @media screen and(max-width:1025px) {
                    width:100%;
                }
            }
        }
    }

}

#intro04{
    width:100%;
    position: relative;
    display: flex;
    margin-bottom:100px;
    justify-content: center;
    transition: all .3 ease-in-out;
    .inner{
        width:70%;
        display: flex;
        justify-content: space-around;
        @media screen and(max-width:1025px) {
            height:400px;   
            flex-direction: column;
            justify-content: space-around;
            border: 3px solid #d6336c; 
            transition: all .5s ease-in-out;
            .wordWrap{
                transition: all .5s ease-in-out;
                p{
                    width:80%;
                }
                &:hover{
                border-bottom: 3px solid #d6336c;
                }
            }
        }
        article{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor:pointer;

            .imgWrap{
                width:230px;
                height:180px;
                overflow: hidden;         
                opacity: 1;
                @media screen and(max-width:1025px) {  
                    opacity: 0; 
                    display: none;
                    transition: all .5s ease-in-out;
                }
                img{
                    width:230px;
                }
            
            }
            .wordWrap{
                padding:10px;
                width:80%;
                overflow-wrap: break-word;
                h5{
                    margin-bottom:5px;
                }
                p{  
                    font-size: 14px;
                    font-weight: 100;
                    opacity: 0;
                    color:#666;
                }
                span{
                    position: absolute;
                    right:45px;
                    bottom:0px;
                    font-size:35px;
                    color:#aaa;
                }
                
            }

            &:first-child{
                
                &::after{
                    content:'';
                    top:15px;
                    left:-5px;
                    position: absolute;
                    width:235px;
                    height:250px;
                    border:3px solid #d6336c; 
                    @media screen and(max-width:1025px) {   
                        display: none;
                    }
                }
                
            }

            &:hover{
                &::after{
                    content:'';
                    top:15px;
                    left:-5px;
                    position: absolute;
                    width:235px;
                    height:250px;
                    border:3px solid #e64980;
                    transition: all .3 ease-in-out;
                    @media screen and(max-width:1025px) {   
                        display: none;
                    }
                }
                p{
                   opacity: 1;
                   transition: all .5s ease-in-out;
                }
                span{
                    color:#d6336c
                }
                
            }
        }
    }
}