

#banner{
    width:100%; 
    padding:300px 0;
    background:no-repeat center/cover fixed;
    position: relative;
    .inner{
        background-color: #000;
        height:600px;
        position: absolute;
        top:0;
        width:45%;
        color:white;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        padding-left:23%;
        p{
            font-size:14px;
            font-weight:100;
            padding-bottom:25px;
            padding-left:2px;
            letter-spacing: 5px;
        }
        .title{
            span{
                font-size:40px;
                font-weight:100;
                letter-spacing: 5px;
            }
            h1{
                margin-top:-10px;
                padding-left:2px;
                letter-spacing: 3px;
                font-size:40px;
                font-weight: bolder;
                font-family: 'Black Han Sans', sans-serif;
                span{
                color:#d6336c;
                letter-spacing: 3px;
                font-size:40px;
                font-weight: bolder;
                font-family: 'Black Han Sans', sans-serif;
                }
            }
        }
        .nums{
            margin-top:110px;
            margin-bottom:-60px;
            ul{
                display: flex;
                cursor:pointer;
                font-weight:100;
                font-size:14px;
                li{
                    padding-right:20px;
                    margin-right:5px;
                    &:first-child{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    .arrows{
        display: flex;
        position: absolute;
        right:16%;
        bottom:0;
        background-color: #fff;
        width:100px;
        height:50px;
        padding:0 10px;
        font-weight: 100;
        font-size: 22px;
        justify-content: space-around;
        align-items: center;
        .arrow{
            font-size: 18px;
            cursor: pointer;
        }
    }
}

#intro01{
    width:100%;
    position: relative;
    .word{
        background-color: #f1f3f5;
        width:80%;
        padding:50px;
        padding-left:5%;
        z-index:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:400px;
        .wrap{
            position: relative;
            margin:0px auto;
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .number{
            position: absolute;
            font:900 45px 'Work Sans', sans-serif;
            color:#ddd;
            left:-50px;
            top:-30px;
            padding-right:5px;
            overflow: hidden;
            z-index:1;
            .numberCover{
                position: absolute;
                right:-25px;
                transform: rotateZ(45deg);
                top:20px;
                color:transparent;
                z-index:3;
                width:40px;
                height:40px;
                border-left:2px solid #ddd;
                background-color: #f1f3f5;
                z-index:2;    
            }
                
            }
            span{
                font-size: 35px;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom:-10px;
                z-index:3;
            }
            h2{
                font:bolder 35px 'Black Han Sans', sans-serif;
                padding-left:2px;
                margin-bottom:10px;
            }
            .p1{
                width:70%;
                margin-bottom:15px;
            }
            .p2{
                width:70%;
                font-weight: 100;
            }
        }
    }

    .wrapArticles{
        width:100%;
        .wrapArticle{
            position: absolute;
            right:16%;
            margin-right:40px;
            width:400px;
            top:65px;
            
            @media screen and(max-width:1279px) {
                width:220px;
                right:5%;
                height:400px;
                overflow: hidden;
            }
        }
        article{
            margin:10px;
            width:180px;
            height:180px;
            overflow: hidden;
            float:left;
            box-shadow: 5px 15px 15px #ddd;
            
            img{
                width:300px;
            }
            &:nth-child(3){
                float:right;
            }
            
            @media screen and(max-width:1279px) {
                width:140px;
                height:140px;
                float:right;
            &:nth-child(3){
            display:none;}   
            }
        }
        .productLink{
            position: absolute;
            right:-80px;
            top:120px;
            width:150px;
            height:150px;
            border-bottom: 1px solid #d6336c;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: right;
            padding:10px;
            
            p{
                color:#d6336c;
                font-size:9px;
            }
            b{
                display: inline-block;
                transform: rotateZ(270deg);
                font-size:13px;
                position:absolute;
                right:-9px;
                bottom:45px;
            }
            
            @media screen and(max-width:1279px) {
                right:20px;
                top:200px;
                width:100px;
                height:100px;
            }
        }
    }

}


#intro02{
    width:100%;
    display: flex;
    justify-content: center;
    padding:110px;
    .inner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align:center;
        .innerNumber{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:50px;
            .innerNumberBg{
                position: absolute;
                color:#d0ebff;
                font-size: 30px;
                z-index: -1;
            }
            div{
                position: absolute;
                font-size: 9px;
                width:20px;
                height:20px;
                line-height:20px;
                color:#d6336c;
                font-weight: 900;
                background-color: #fff;
                z-index: 1;
            }
        }

        h3{
            letter-spacing: 8px;
            font-weight: 100;
            margin-bottom: 35px;
        }

        ul{    
            display: flex;
            justify-content: space-around;
            li{
            position: relative;
            text-align:left;
            padding:25px;
            margin:0px 10px;
            margin-left:40px;
            cursor:pointer;

            &:hover{
                .icons, b{
                    color:#d6336c;
                }
            }

            .icons{
                position: absolute;
                font-size:35px;
                left:-25px;
                top: 20px;
                color:#ddd;
            }

            h4{
                margin-bottom:10px;
                text-transform:uppercase;
            }
            p{
                font-size:13px;
                font-weight: 100;
                width:230px;
                height:40px;
                margin-bottom:10px;
                @media screen and(max-width:1279px) {
                    overflow-wrap: break-word;
                    overflow: hidden;
                    width:90%;
                    height:40px;
                    margin-bottom:50px;
                }
            }
            b{
                font-size:14px;
            }
            }
        }
    }   
}

#intro03{
    position: relative;
    display: flex;
    width:100%;
    justify-content: flex-end;
    margin-bottom:150px;
    .differentLink{
        position: absolute;
        left:50px;
        top:40px;
        width:130px;
        height:130px;
        border-bottom: 1px solid #d6336c;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding:10px;
        z-index:2;
        @media screen and(max-width:1279px) {
            display: none;
        }
        span{
            padding-right:50px;
        p{
            color:#d6336c;
            font-size:9px;
        }
        b{
            display: inline-block;
            transform: rotateZ(270deg);
            font-size:13px;
            position:absolute;
            right:39px;
            bottom:45px;
            margin-bottom: 5px;
        }
        }
        
        @media screen and(max-width:1279px) {
            right:20px;
            top:200px;
            width:100px;
            height:100px;
        }
    }
    .introImg{
        position: absolute;
        top:110px;
        left:130px;
        z-index: 1;
        
        .introImgBox{
        width:470px;
        height:300px;
        filter: brightness(180%) saturate(70%);
        overflow: hidden;
        img{
            width:500px;
        }
        
        }
        .redBar{
        position: absolute;
        width:100px;
        height:50px;
        z-index: 0;
        top: -33px;
        left:33%;
        background-color:#d6336c;
    }
    }

    .word{
        right:0;
        background-color: #f1f3f5;
        width:60%;
        padding:50px;
        padding-left:5%;
        z-index:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:360px;
        .wrap{
            position: relative;
            margin:0px auto;
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .number{
            position: absolute;
            font:900 45px 'Work Sans', sans-serif;
            color:#ddd;
            left:-50px;
            top:-30px;
            padding-right:5px;
            overflow: hidden;
            z-index:1;
            .numberCover{
                position: absolute;
                right:-20px;
                transform: rotateZ(45deg);
                top:30px;
                color:transparent;
                z-index:3;
                width:40px;
                height:40px;
                border-left:2px solid #ddd;
                background-color: #f1f3f5;
                z-index:2;    
            }
                
            }
            span{
                font-size: 35px;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom:-10px;
                z-index:3;
            }
            h2{
                font:bolder 35px 'Black Han Sans', sans-serif;
                padding-left:2px;
                margin-bottom:10px;
            }
            .p1{
                width:70%;
                margin-bottom:15px;
            }
            .p2{
                width:70%;
                font-weight: 100;
            }
        }
    }

}

#intro04{
    width:100%;
    position: relative;
    display: flex;
    margin-bottom:100px;
    justify-content: center;
    .inner{
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        article{
            position: relative;
            cursor:pointer;
            
            .imgWrap{
                width:230px;
                height:180px;
                overflow: hidden;
                img{
                    width:230px;
                }
            }
            .wordWrap{
                padding:10px;
                width:75%;
                overflow-wrap: break-word;
                h5{
                    margin-bottom:5px;
                }
                p{  
                    font-size: 14px;
                    font-weight: 100;
                    opacity: 0;
                    color:#666;
                }
                span{
                    position: absolute;
                    right:50px;
                    bottom:6px;
                    font-size:35px;
                    color:#aaa;
                }
            }
            &:hover{
                &::after{
                    content:'';
                    top:15px;
                    left:-20px;
                    position: absolute;
                    width:235px;
                    height:260px;
                    border:3px solid #d6336c; 
                }
                p{
                   opacity: 1;
                }
                
            }
        }
    }
}