
header{

    width:100%;
    .inner{
        height:70px;
        justify-content: space-around;
        display: flex;
        align-items: center;
        margin:auto 0px;

        .logo{
            display: flex;
            align-items: center;
        img{
            width:18px;
            height:18px;
        }
        h1 {
            margin-left:10px;
            font-size: 16px;
            color: #000;
        }
        
        }
        .gnb{
            display:flex;
            align-items: center;

            li{
                padding-left:20px;
                .gnbLink{
                    font-size:16px;
                    color:#000;
                    
            @media screen and (max-width:767px){
                display: none;
            }
                }
                
            }
            .btnMenu{
                padding-top:3px;
                font-size:18px;
                padding-left:20px;
                
            }
        }
    }
    
}